:root{
    --first-color: #2e2e41;
    --second-color: #5b85ff;
    --third-color: #434354;
    --text-color: #fff;

    --box-shadow: 0 5px 25px rgb(2,2,2,0.1);
    --text-shadow: 0 5px 25px rgb(2,2,2,0.1);
}

/* Main CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

video {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 120%;
    min-height: 100%;
    z-index: -1;
}

section{
    position: relative;
    margin: 0 80px;
    transition: 0.5s ease;
}

.main_container{
    position: relative;
}

/* Tab navigation bar */

.tab_nav_bar{
    position: relative;
    margin: 65px 10px 40px 10px;
}

.tab_navigation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
}

.tab_menu{
    color: var(--text-color);
    list-style: none;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    max-width: 800px;
    padding: 7px;
    white-space: nowrap;
    border-bottom: 1px solid var(--third-color);
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    overflow-x: auto;
    user-select: none;/*evitamos el moverse con el scroll*/
    scroll-behavior: smooth;
    z-index: 1;
}

.tab_menu.dragging{
    scroll-behavior: unset;
    cursor: grab;
}

.tab_menu::-webkit-scrollbar{
    display: none;/*Ocultamos el scroll*/
}

.tab_btn{
    color: var(--text-color);
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    margin: 0 2px;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease;
}

.tab_menu.dragging .tab_btn{
    pointer-events: none;
}

.tab_btn:hover{
    background: #000;
}

.tab_btn.active{
    background: #000;
}

.left_btn,
.right_btn{
    position: absolute;
    color: var(--text-color);
    font-size: 1.8em;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.left_btn{
    left: 0;
    background: linear-gradient(to left, transparent, var(--first-color) 80%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: none;
}

.right_btn{
    right: 0;
    background: linear-gradient(to right, transparent, var(--first-color) 80%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* tab content */

.tab_content{
    position:relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.tab{
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: auto;
    max-width: 1100px;
    padding: 15px 50px;
    transform: translateY(25px);
    content-visibility: hidden;
    opacity: 0;
}

.tab.active{
    transform: translateX(0px);
    content-visibility: visible;
    opacity: 1;
    transition: 2s ease;
}

.tab .row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    gap: 30px;
}

/* Lista */
.countries{
    color: white;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countries .box{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    /* background-image: url(../Assets/Tierra0.jpg); */
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.box h2{
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.box ol{
    width: 100%;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box ol a{
    text-decoration: none;
    color: #fff;
}

.box ol li{
    padding: 10px;
    width: 100%;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    transition: transform 0.5s;
    margin-left: 40px;
    /* background: rgba(0, 0, 0, .5); */
    /* opacity: 0; */
}


.box ol li:hover{
    transform: scale(1.1);
    z-index: 100;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    color: #fff;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    cursor: pointer;
    /* opacity: 1; */
}

/* Media queries (max-width: 1050px) */