:root{
    --first-color: #2e2e41;
    --second-color: #5b85ff;
    --third-color: #434354;
    --text-color: #fff;

    --box-shadow: 0 5px 25px rgb(2,2,2,0.1);
    --text-shadow: 0 5px 25px rgb(2,2,2,0.1);
}

/* Main CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: var(--first-color);
}

section{
    position: relative;
    margin: 0 80px;
    transition: 0.5s ease;
}

.main_container{
    position: relative;
}

/* Tab navigation bar */

.tab_nav_bar{
    position: relative;
    margin: 65px 10px 40px 10px;
}

.tab_navigation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
}

.tab_menu{
    color: var(--text-color);
    list-style: none;
    background: var(--third-color);
    max-width: 800px;
    padding: 7px;
    white-space: nowrap;
    border-bottom: 1px solid var(--third-color);
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    overflow-x: auto;
    user-select: none;/*evitamos el moverse con el scroll*/
    scroll-behavior: smooth;
}

.tab_menu::-webkit-scrollbar{
    display: none;/*Ocultamos el scroll*/
}

.tab_btn{
    color: var(--text-color);
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    margin: 0 2px;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease;
}

.tab_btn:hover{
    background: var(--second-color);
}

.tab_btn.active{
    background: var(--second-color);
}

.left_btn,
.right_btn{
    position: absolute;
    color: var(--text-color);
    font-size: 1.8em;
    padding: 12px;
    cursor: pointer;
}

.left_btn{
    left: 0;
    background: linear-gradient(to left, transparent, var(--first-color) 80%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: none;
}

.right_btn{
    right: 0;
    background: linear-gradient(to right, transparent, var(--first-color) 80%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* tab content */
/* Media queries (max-width: 1050px) */